<!-- 


<body>
    <form #SPForm="ngForm" (ngSubmit) ="onSubmit()">
   <label> <b>Product Id</b> </label> <br>
       <input type="number" name="employeeNumber" [(ngModel)] ="product.id">    
       <br>   
       <label> <b>SKU</b> </label> <br>
       <input type="text"  name="id" [(ngModel)] ="product.sku">    
       <br> 
       <label> <b>Product Name</b> </label> <br>
       <input type="text"  name="name" [(ngModel)] ="product.name">    
       <br> 
       <label> <b>Description</b> </label> <br>
       <input type="text"  name="description" [(ngModel)] ="product.description">    
       <br>
       <label> <b>Unit Price</b> </label> <br>
       <input type="number"  name="unitprice" [(ngModel)] ="product.unitprice">    
       <br>          
       <label> <b>Image URL</b> </label> <br>   
       <input type="text"  name="imageurl" [(ngModel)] ="product.imageurl">
       <br>          
       <label> <b>Active</b> </label> <br>   
       <input type="number"  name="active" [(ngModel)] ="product.active">
       <br>          
       <label> <b>Units In Stock</b> </label> <br>   
       <input type="number"  name="unitsinstock" [(ngModel)] ="product.unitsinstock">
       <br>          
       <label> <b>Date Created</b> </label> <br>   
       <input type="date"  name="datecreated" [(ngModel)] ="product.datecreated">
       <br>          
       <label> <b>Last Updated</b> </label> <br>   
       <input type="date"  name="lastupdate" [(ngModel)] ="product.lastupdate">  
       <br>          
       <label> <b>CategoryId</b> </label> <br>   
       <input type="number"  name="categoryid" [(ngModel)] ="product.categoryid">
       <br><br>  
       <button type="submit" class="btn btn-secondary" >Add</button>
   </form>
   </body> -->


   <body>         
    <div class="home-page">
    
        <div id="logo">
           </div>
    
           <br><br>  
           <div class="form">
            <form #SPForm="ngForm" (ngSubmit) ="onSubmit()">
                <label> <b>Product Id</b> </label> <br>
                    <input type="number" name="employeeNumber" [(ngModel)] ="product.id">    
                    <br>   
                    <label> <b>SKU</b> </label> <br>
                    <input type="text"  name="id" [(ngModel)] ="product.sku">    
                    <br> 
                    <label> <b>Product Name</b> </label> <br>
                    <input type="text"  name="name" [(ngModel)] ="product.name">    
                    <br> 
                    <label> <b>Description</b> </label> <br>
                    <input type="text"  name="description" [(ngModel)] ="product.description">    
                    <br>
                    <label> <b>Unit Price</b> </label> <br>
                    <input type="number"  name="unitprice" [(ngModel)] ="product.unitprice">    
                    <br>          
                    <label> <b>Image URL</b> </label> <br>   
                    <input type="text"  name="imageurl" [(ngModel)] ="product.imageurl">
                    <br>          
                    <label> <b>Active</b> </label> <br>   
                    <input type="number"  name="active" [(ngModel)] ="product.active">
                    <br>          
                    <label> <b>Units In Stock</b> </label> <br>   
                    <input type="number"  name="unitsinstock" [(ngModel)] ="product.unitsinstock">
                    <br>          
                    <label> <b>Date Created</b> </label> <br>   
                    <input type="date"  name="datecreated" [(ngModel)] ="product.datecreated">
                    <br>          
                    <label> <b>Last Updated</b> </label> <br>   
                    <input type="date"  name="lastupdate" [(ngModel)] ="product.lastupdate">  
                    <br>          
                    <label> <b>CategoryId</b> </label> <br>   
                    <input type="number"  name="categoryid" [(ngModel)] ="product.categoryid">
                    <br><br>  
                    <button type="submit" class="btn btn-secondary" >Add</button>
                </form>
            </div>
    </div> 
    </body>             
    